body {
  background-color: #f2edee;
  background: -webkit-radial-gradient( white, #f2edee );
  background: -moz-radial-gradient( white, #f2edee );
  background: -o-radial-gradient( white, #f2edee );
  background: radial-gradient( white, #f2edee );
  font-size: 13.5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

body, .form-control {
  line-height: 1.4;
}

h1, h2{
  text-shadow: 0.5px 1px white;
}

h1 {
  font-size: 4.5vw;
}

h2, header .fa {
  font-size: 3.0vw;
  text-decoration: none;
}

header .fa {
  margin-top: 20px;
}

header {
  background-color: white;
  border-bottom: 3px solid #f2edee;
}

label {
  font-weight: bold;
}

h1, h2, textarea {
  font-weight: 300;
}




/*smaller screens*/
@media screen and (max-width: 500px){
  h1, h2 {
    font-weight: 600;
    font-size: 4vw;
  }
  header .fa {
    margin-top: 10px;
    font-size: 4.5vw;
  }
}
